<footer class="center">
  <div class="measure">
    <small>
      Blog maintained by sp301415.
      Theme crafted by <a href="http://johnotander.com">John Otander</a> (<a href="https://twitter.com/4lpine">@4lpine</a>).
      &lt;/&gt; available on <a href="https://github.com/sp301415/sp301415.github.io">GitHub</a>.
    </small>
  </div>
</footer>
{% if site.enable_anchorjs %}<!-- AnchorJS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/3.0.0/anchor.min.js"></script>
<script>
  anchors.options = {
      placement: 'right',
      visible: 'touch'
    };
    anchors.add('article h2, article h3');
</script>
{% endif %}

<script type="text/javascript">
  if ("serviceWorker" in navigator) {
    navigator.serviceWorker.register("{{ '/sw.js' | relative_url }}")
  }
</script>