#search-input {
  font-size: 18px;
  padding: 10px 10px 10px 10px;
  display: block;
  width: 300px;
  border: none;
  border-bottom: 1px solid #000000;
}

#results-container {
  padding-top: 10px;
}
